body{
    background-color: #f4a261;
}

.container{
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #e9c46a;
}

img{
    max-width: 40%;
    padding-left: 10%;
}

.isRight{
    border-left: 3px solid #e76f51;
    padding-left: 10%;
}

.fa{
    padding-right: 10%;
}

.fa-telegram{
    padding-right: 8.7%;
}

a{
    text-decoration: none;
    color: #2a9d8f;
}
a:hover{
    color: #264653;
}

@media(max-width: 768px){
    .isRight{
        border-left: none;
    }
    .topBorder{
        border-top: 3px solid #e76f51;
        padding-top: 7%;
    }
    .bottomBorder{
        padding-bottom: 7%;
    }
  
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .link{
        font-size: 0.8rem;
    }
    
}